body{
  background: black;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#semaforo{
  display: flex;
  flex-direction: column;
  gap:11px;
}
#vermelho, #amarelo, #verde{
  width:120px;
  height: 120px;
  border-radius:50%;
  background: green;
}
#amarelo{
  background: gray;
}
#vermelho{
  background: grey;
}